.colorBoxesContainer {
  display: flex;
}

.colorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playerBox,
.targetBox {
  width: 75px;
  height: 100px;
}

.targetBox {
  border-radius: 0 8 8 0;
}
.playerBox {
  border-radius: 8 0 0 8;
}
